/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/10/2017, 11:56:27 PM
    Author     : Max
*/

body {
    background-image: url("UTSTutor.png");
    background-color: #cccccc;
}

#loginDiv{
    margin: auto;
    width: 30%;
    background-color: #ffffff;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#registerDiv{
    margin: auto;
    width: 30%;
    background-color: #ffffff;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#headerSection{
    margin-left: 11%;
    margin-top: 4%;
}

#headerMenu{
    text-align: right;
}

#mainContentDiv{
    margin-left: 11%;
}

#bookingContentDiv{
   margin-left: 11%;
}

#viewBookDiv{
    margin-left: 11%
}